<body>


        <!-- <div class="row">
        <div class="col-sm-5">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by customer name">
            </mat-form-field>
        </div>
        <div class="col-sm-5">
            <select class="form-control" id="DDL_vStatus" [(ngModel)]="filterIsConnected" (change)="changefilterStatus($event)" >
              <option [value]="-1">Filter by Connectivity Status</option>
              <option *ngFor="let c of vehicleStatus" [ngValue]="c.value">{{c.type}}</option>
            </select>
          </div>
        <div class="col-sm-2">
          <button type="submit" (click)="executeSearch()">Search</button>
        </div>
      </div> 
     -->

        <div class="col-md-12">
            <p class="homeText">"ALTEN VEHICLE MONITOR"</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="mat-row">
            <div class="col-sm-5">
                <select class="form-control" id="DDL_Customers" [(ngModel)]="filterCustomerID"
                    (change)="changefilterCustomer($event)">
                    <option [value]="-1">Filter by customer</option>
                    <option *ngFor="let c of customers" [ngValue]="c.id">{{c.name}}</option>
                </select>
            </div>
            <div class="col-sm-5">
                <select class="form-control" id="DDL_vStatus" [(ngModel)]="filterIsConnected"
                    (change)="changefilterStatus($event)">
                    <option [value]="-1">Filter by Connectivity Status</option>
                    <option *ngFor="let c of vehicleStatus" [ngValue]="c.value">{{c.type}}</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" (click)="executeSearch()">Search</button>
            </div>
        </div>

        <br>
        <br>
        <div style="padding: 16px;">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="VehicleId">
                <th mat-header-cell *matHeaderCellDef> VehicleId </th>
                <td mat-cell *matCellDef="let element"> {{element.vehicleId}} </td>
            </ng-container>

            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef> customer </th>
                <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
            </ng-container>

            <ng-container matColumnDef="regNum">
                <th mat-header-cell *matHeaderCellDef> regNum </th>
                <td mat-cell *matCellDef="let element"> {{element.regNum}} </td>
            </ng-container>

            <ng-container matColumnDef="isConnected">
                <th mat-header-cell *matHeaderCellDef> isConnected </th>
                <td mat-cell *matCellDef="let element"> {{element.isConnected}} </td>
            </ng-container>

            <ng-container matColumnDef="lastSeen">
                <th mat-header-cell *matHeaderCellDef> Last Seen </th>
                <td mat-cell *matCellDef="let element"> {{element.lastSeen}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</body>